.App {
  text-align: center;
  padding: 10px;;
}

/* .app__form{
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: wheat;
} */

.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgb(248, 238, 238);
  width: 90%;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app__iconButton{
  flex: 0;
}

.app__inputField{
  flex: 1;
}